/part06/kepler_prog/node_modules
/part08/express_server_v1/node_modules
/part08/express_server_v2/node_modules
/part09/server_hbs/node_modules
/part09/server_testing/node_modules
/part13/performance_test/node_modules

